.middle-section {
  display: flex;
  border: 1px solid red;
  height: 500px;

  .widget-two {
    width: 30%;
    border: 1px solid red;
    padding: 20px;
    margin: 20px;
  }
  .something {
    width: 70%;
    border: 1px solid red;
    padding: 20px;
    margin: 30px;
  }
}
